<!DOCTYPE html>
<html ng-app="GrabBag">
<head>
  <title>Grabbag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<base href="/">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico">
<%= favicon_link_tag %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway" rel="stylesheet">
</head>

<body ng-controller="HomeCtrl">


<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">O'Shea Grab Bag</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="userLoggedIn == null" ng-href="/login">Login</a></li>
        <li><a ng-hide="userLoggedIn == null" ng-click="logout()">Logout</a></li>
        <li><a ng-hide="userLoggedIn == null" ng-href="/admin">Admin</a></li>
        <li><a href="/">Current List</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row avoid-header">
  <img class="img-responsive col-md-10 col-md-offset-1" src="https://i.imgur.com/iACd4xZ.jpg" alt="bigfampic">
</div>


<%= yield %>

</body>
</html>
